{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %}
        {% block subtitle %}{% endblock %} | Mailman/Postorius
    {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'postorius/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'postorius/libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'postorius/css/style.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'list_index' %}"><span><img src="{% static 'postorius/img/mailman_logo_small_trans.png' %}" /> Postorius</span></a>
            </div>
            <div class="collapse navbar-collapse" id="header-nav">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'list_index' %}"><span class="glyphicon glyphicon-envelope"></span> {% trans 'Lists' %}</a></li>
                    {% if user.is_superuser %}
                        <li><a href="{% url 'domain_index' %}"><span class="glyphicon glyphicon-globe"></span> {% trans 'Domains' %}</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'user_mailmansettings' %}"><span class="glyphicon glyphicon-cog"></span> {% trans 'My Settings' %}</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'user_profile' %}">{% trans 'Logged in as' %}: {{ user.username }}</a></li>
                        <li><a href="{{ logout_url }}?next={% url 'list_index' %}" title="{% trans 'Logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ login_url }}?next={{ next|default:request.path|urlencode }}">{% trans 'Login' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% block main %}{% endblock main %}
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-center">
                <a href="https://postorius.readthedocs.org">{% trans 'Postorius Documentation' %}</a>
                &bull;
                <a href="http://list.org">GNU Mailman</a>
            </p>
        </div>
    </footer>

    <script src="{% static 'postorius/libs/jquery/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'postorius/libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'postorius/js/script.js' %}"></script>
    {% block additionaljs %}{% endblock %}
</body>
</html>
