{% extends postorius_base_template %}
{% load i18n %}
{% load nav_helpers %}
{% load bootstrap_tags %}

{% block subtitle %}
{% trans 'Member options' %} | {{ list.list_fqdn }}
{% endblock %}

{% block main %}
<h2>{% trans 'Subscription options for' %} {{ list.fqdn_listname }}</h2>
<hr />
<p class="col-md-offset-2">
{% trans 'Use this form to change the email used for this subscription' %}:
</p>
<form action="{% url 'change_subscription' list.list_id %}" method="post" class="form-horizontal">
    {% render_form_horizontal change_subscription_form 3 8 'Change email used for subscription' %}
</form>
<hr />
<form action="" method="post" class="form-horizontal">
  {% render_form_horizontal form 3 8 'Save changes' %}
  <input type="hidden" name="formname" value="preferences" />
</form>
{% endblock main %}
